:root {
    --fill: rgb(85, 107, 47);
    --primary: rgb(255, 182, 193);
    --secondary: rgb(255, 105, 180);
    --accent: rgb(255, 20, 147);
    --background: rgb(245, 245, 245);
    --neutral: rgb(33, 33, 33);
    --row-size: 60px;
    --element-margin: 10px;
}

body,
.content,
.footer,
.calculator {
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--neutral);
    color: var(--primary);
    flex-direction: column;
    font-family: Impact, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    background-color: rgb(17 24 39);
    color: rgb(209 213 219);
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 40px;
    width: 100vw;
}

.calculator {
    background: var(--fill);
    border-radius: 120px 120px 200px 200px;
    padding: 20px;
}

.middle {
    margin: 0 5px;
    padding: 10px;
    background: rgba(33, 33, 33, 0.5);
    border-radius: 20px;
}

.branding {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 24px;
}

.branding * {
    padding: 2px;
}

#ath {
    letter-spacing: 2px;
    font-size: 12px;
    font-style: italic;
}

.screen {
    border-radius: 10px;
    background: var(--neutral);
    width: 260px;
    aspect-ratio: 1 / 1;
}

.evaluation {
    
}

.rollerdex {
}

.left .row {
    display: flex;
    justify-content: right;
}

.right .row {
    display: flex;
    justify-content: left;
}

button {
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-weight: 900;
    border-radius: 10px;
    color: var(--neutral);
    width: 80px;
    height: 40px;
    margin: 10px 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.04);
}

button:active {
    transform: scale(0.96);
}

.operator,
.special {
    background-color: var(--secondary);
}

.number {
    background-color: var(--primary);
}

#delete,
#clear {
    width: 180px;
    background-color: var(--primary);
}

#delete:hover,
#clear:hover {
    transform: scale(1.02);
}

#delete:active,
#clear:active {
    transform: scale(0.98);
}
