:root {
    --fill: rgb(85, 107, 47);
    --primary: rgb(255, 182, 193);
    --secondary: rgb(255, 105, 180);
    --accent: rgb(255, 20, 147);
    --background: rgb(245, 245, 245);
    --neutral: rgb(33, 33, 33);
    --row-size: 60px;
    --element-margin: 10px;
}



body,
.content,
.footer,
.calculator,
.branding {
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--neutral);
    color: var(--primary);
    flex-direction: column;
    font-family: Impact, Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
}

.footer {
    background-color: rgb(17 24 39);
    color: rgb(209 213 219);
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 40px;
    width: 100vw;
}

.calculator {
    background: var(--fill);
    border-radius: 120px 120px 200px 200px;
    padding: 15px;
    box-shadow: 
        0 0 5px black inset,
        0 0 1px black inset;
    /* transform: perspective(500px) rotateX(20deg); */
}

.calculator-flip {
    transform: rotate(180deg);
}

.middle {
    background: rgba(33, 33, 33, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 2px black inset;
    margin: 0 5px;
    padding: 0 10px;
}

.branding {
    cursor: default;
    font-size: 24px;
}

.branding * {
    padding: 2px;
}

.product {
    color: var(--secondary);
}

#ath {
    color: var(--primary);
    font-size: 14px;
    font-style: italic;
    letter-spacing: 4px;
}

.screen {
    align-items: flex-end;
    aspect-ratio: 1 / 1;
    background: var(--neutral);
    border-radius: 10px;
    box-shadow: 0 0 2px whitesmoke inset;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: center;
    letter-spacing: 4px;
    overflow-wrap: break-word;
    overflow: scroll;
    padding: 5px;
    text-align: right;
    width: 260px;
    font-family: 'Digital-7';
}

.screen * {
    max-width: 260px;
}

.left .row {
    display: flex;
    justify-content: right;
}

.right .row {
    display: flex;
    justify-content: left;
}

button {
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    box-shadow:
        0 0 5px black,
        0 0 1px black inset;
    color: var(--neutral);
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    height: 40px;
    margin: 10px 5px;
    transition: transform 0.2s ease-in-out;
    width: 80px;
}

.left button {
    rotate: 5deg;
}

.right button {
    rotate: -5deg;
}

button:hover {
    transform: scale(1.04);
}

button:active {
    transform: scale(0.96);
}

.operator,
.evaluate,
.modifier {
    background-color: var(--secondary);
}

.action {
    width: 170px;
}

.action:hover,
.evaluate:hover {
    transform: scale(1.02);
}

.action:active,
.evaluate:active {
    transform: scale(0.98);
}

#equals {
    width: 130px;
}

#flip {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--fill);
    cursor: pointer;
    font-size: 50px;
    font-weight: 900;
    height: 40px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px black;
    transform: none;
    transition: transform 0.2s ease-in-out;
    width: 80px;
}

#flip:hover {
    color: var(--secondary);
}

.flip-tooltip:hover:after {
    letter-spacing: 2px;
    background: rgba(33, 33, 33, 0.5);
    border-radius: 5px;
    color: var(--secondary);
    content: attr(tooltip);
    font-size: 12px;
    font-weight: 100;
    opacity: 1;
    padding: 5px;
    position: absolute;
    right: 0%;
    text-align: right;
    top: 40%;
    transform: translateX(-50%) rotate(-5deg);
    transition: opacity 0.3s;
    visibility: visible;
    white-space: normal;
    width: 130px;
    z-index: 1;
}

.flip-tooltip:after {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
}

.math-drop {
    color: var(--primary);
    position: absolute;
    top: -50px;
    transition: top 2s linear;
    z-index: 0;
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital_7/digital-7.ttf') format('truetype');
}